# Introduction

Our goal is to build machine learning models that will predict whether income exceeds $50K/yr based on census data.<br>
The dataset is gathered from [UCI Archive](http://archive.ics.uci.edu/ml/datasets/Adult). The data contains following information
- **age:** continuous.
- **workclass:** Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- **fnlwgt:** continuous.
- **education:** Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- **education-num:** continuous.
- **marital-status:** Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- **occupation:** Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- **relationship:** Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- **race:** White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- **sex:** Female, Male.
- **capital-gain:** continuous.
- **capital-loss:** continuous.
- **hours-per-week:** continuous.
- **native-country:** United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# EDA

In [5]:
df = pd.read_csv('data/adult.data', header = None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education.num', 'marital.status', 'occupation', 'relationship', \
           'race', 'sex', 'capital.gain', 'capital.loss', 'hours.per.week', 'native.country', 'income'] 
df.columns = columns
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
#Separate categorical and numberical columns

cat_col = df.dtypes[df.dtypes == 'object'] 
num_col = df.dtypes[df.dtypes != 'object']

**Inspection of Categorical Columns**

In [10]:
# loop through each categorical columns
for col in list(cat_col.index):
    # print column name
    print(col.title())
    # count each unique values of the current column
    total= df[col].value_counts()
    # find percent occurence of each unique value
    percent = df[col].value_counts() / df.shape[0]
    # make a dataframe of based of above 2 lists 
    sub_df = pd.concat([total,percent],keys = ['total','percent'],axis = 1)
    # print the dataframe
    print(sub_df)
    print('\n')

Workclass
                   total   percent
 Private           22696  0.697030
 Self-emp-not-inc   2541  0.078038
 Local-gov          2093  0.064279
 ?                  1836  0.056386
 State-gov          1298  0.039864
 Self-emp-inc       1116  0.034274
 Federal-gov         960  0.029483
 Without-pay          14  0.000430
 Never-worked          7  0.000215


Education
               total   percent
 HS-grad       10501  0.322502
 Some-college   7291  0.223918
 Bachelors      5355  0.164461
 Masters        1723  0.052916
 Assoc-voc      1382  0.042443
 11th           1175  0.036086
 Assoc-acdm     1067  0.032769
 10th            933  0.028654
 7th-8th         646  0.019840
 Prof-school     576  0.017690
 9th             514  0.015786
 12th            433  0.013298
 Doctorate       413  0.012684
 5th-6th         333  0.010227
 1st-4th         168  0.005160
 Preschool        51  0.001566


Marital.Status
                        total   percent
 Married-civ-spouse     14976  0.459937
 Never-married          10683  0.328092
 Divorced                4443  0.136452
 Separated               1025  0.031479
 Widowed                  993  0.030497
 Married-spouse-absent    418  0.012837
 Married-AF-spouse         23  0.000706


Occupation
                    total   percent
 Prof-specialty      4140  0.127146
 Craft-repair        4099  0.125887
 Exec-managerial     4066  0.124873
 Adm-clerical        3770  0.115783
 Sales               3650  0.112097
 Other-service       3295  0.101195
 Machine-op-inspct   2002  0.061485
 ?                   1843  0.056601
 Transport-moving    1597  0.049046
 Handlers-cleaners   1370  0.042075
 Farming-fishing      994  0.030527
 Tech-support         928  0.028500
 Protective-serv      649  0.019932
 Priv-house-serv      149  0.004576
 Armed-Forces           9  0.000276


Relationship
                 total   percent
 Husband         13193  0.405178
 Not-in-family    8305  0.255060
 Own-child        5068  0.155646
 Unmarried        3446  0.105832
 Wife             1568  0.048156
 Other-relative    981  0.030128


Race
                     total   percent
 White               27816  0.854274
 Black                3124  0.095943
 Asian-Pac-Islander   1039  0.031909
 Amer-Indian-Eskimo    311  0.009551
 Other                 271  0.008323


Sex
         total   percent
 Male    21790  0.669205
 Female  10771  0.330795


Native.Country
                             total   percent
 United-States               29170  0.895857
 Mexico                        643  0.019748
 ?                             583  0.017905
 Philippines                   198  0.006081
 Germany                       137  0.004207
 Canada                        121  0.003716
 Puerto-Rico                   114  0.003501
 El-Salvador                   106  0.003255
 India                         100  0.003071
 Cuba                           95  0.002918
 England                        90  0.002764
 Jamaica                        81  0.002488
 South                          80  0.002457
 China                          75  0.002303
 Italy                          73  0.002242
 Dominican-Republic             70  0.002150
 Vietnam                        67  0.002058
 Guatemala                      64  0.001966
 Japan                          62  0.001904
 Poland                         60  0.001843
 Columbia                       59  0.001812
 Taiwan                         51  0.001566
 Haiti                          44  0.001351
 Iran                           43  0.001321
 Portugal                       37  0.001136
 Nicaragua                      34  0.001044
 Peru                           31  0.000952
 Greece                         29  0.000891
 France                         29  0.000891
 Ecuador                        28  0.000860
 Ireland                        24  0.000737
 Hong                           20  0.000614
 Trinadad&Tobago                19  0.000584
 Cambodia                       19  0.000584
 Laos                           18  0.000553
 Thailand                       18  0.000553
 Yugoslavia                     16  0.000491
 Outlying-US(Guam-USVI-etc)     14  0.000430
 Hungary                        13  0.000399
 Honduras                       13  0.000399
 Scotland                       12  0.000369
 Holand-Netherlands              1  0.000031


Income
        total  percent
 <=50K  24720  0.75919
 >50K    7841  0.24081